.reportmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: 70px;
}

.reportmodal-container {
  background-color: rgb(238, 232, 232);
  padding: 30px;
  border-radius: 12px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', sans-serif;
}

.reportmodal-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  color: black;
}

.reportmodal-form input,
.reportmodal-form select,
.reportmodal-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.reportmodal-form textarea {
  resize: vertical;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-row input,
.form-row select,
.form-row textarea {
  flex: 1;
}

.reportmodal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 28px;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.submit-btn:hover {
  background-color: #45a049;
}

.cancel-btn:hover {
  background-color: #d32f2f;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.reportmodal-form .reportfield {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-iconmodal {

  margin-top: -13px;

}

.user {
  color: rgb(19, 19, 161);
}

.lostfound {
  color: #eadf1d;
  margin-left: 15px;
}

.box {
  color: #962f09cc;
}

.desc {
  color: #fd7e14;
  margin-left: 15px;
}

.loc {
  color: green;
}

.cal {
  color: #c60b5f;
}

.image {
  color: rgb(8, 106, 171);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #ccc;

}

input[type="file"] {
  flex: 1;
  padding: 6px;
  color: black;
  cursor: pointer;
  background-color: white;
}

#datelf {
  background-color: white;
  border: none;
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 6px 12px;
  background: #f0f0f0;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-right: 8px;
}

input[type="date"]::-webkit-input-placeholder {
  cursor: pointer;

}

select:invalid {
  color: #696868;
  cursor: pointer;
}

select:focus {
  cursor: pointer;
}

.confirm-msg{
  color: black;
}